In [ ]:
# Exercicio 01 - Atividade
!pip install pandas
import pandas as pd

In [ ]:
# Exercicio 01 - Atividade

# Criação do Dicionario 

dicionario = {
    'Nomes': ['Alice', 'Julia', 'Bruna', 'Daniel', 'Filipe', 'Silvio'],
    'Idade': ['19', '22', '28', '34', '28', '48'],
    
}

# Criação do index 
label = ['1ª', '2ª', '3ª', '4ª', '5ª', '6ª']

# Criação do DataFrame 
dataframe1 = pd.DataFrame(dicionario, index=label)
dataframe1

           Nomes
1ª Linha   Alice
2ª Linha   Julia
3ª Linha   Bruna
4ª Linha  Daniel
5ª Linha  Filipe
6ª Linha  Silvio